    @import url(https://fonts.googleapis.com/css?family=PT+Sans);

    body {
        font-family: 'PT Sans', sans-serif;
        background-color: #f4f4f4;
    }

    .navbar {
        width: 100%;
        margin: 0%;

        background-color: #322;
    }

    .navbar-nav {
        font-size: 15px;
        font-family: 'PT Sans', sans-serif;
    }

    .container-fluid {
        text-align: center;
        margin: 0 auto;
        padding: 0 3rem;
        max-width: 1240px;
        font-size: 17px;
    }

    li:hover {
        background-color: #322;
    }

    #btn {
        background-color: #103063;
        margin: auto;
        text-align: center;
        margin: 0 auto;
        display: block;
        height: 50px;
        width: 160px;
        color: white;
        border: none;
    }

    .container-fluid h1 {
        font-size: 65px;
        font-weight: bold;
    }

    .container-fluid h3 {
        font-size: 33px;
        font-weight: bold;
    }

    .container-fluid h2 {
        font-size: 40px;
        font-weight: bold;
    }

    .margin {
        margin-top: 200px
    }

    .container-fluid p {
        font-size: 20px;
    }

    .ims img {
        border-radius: 10px;
        height: 50%;
        width: 80%;
    }

    .ms img {
        border-radius: 5px;

        width: 93%;
    }

    #doc {
        margin-top: 200px;
        padding-top: 50px;
        padding-bottom: 40px;
        background-color: rgb(71, 111, 112);
        color: aliceblue;
    }

    #vid {
        margin-top: 70px;
    }

    #lec {
        margin-top: 40px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-color: rgb(71, 111, 112);
        color: aliceblue;
    }

    .cop {
        padding-top: 30px;
        padding-left: 100px;
        padding-right: 80px;
        padding-bottom: 10px;
    }

    .breadth {
        width: 100%;
        margin-top: 40px;
        background-color: rgb(71, 111, 112);
    }

    #rule {
        border: 0.1px solid black;
    }

    .fhead {
        font-size: 20px;
    }

    .footer li {
        list-style: none;
    }

    .greydiv {
        margin-top: 40px;
    }